.movie {
  background-color: var(--primary-light);
  border-radius: 16px;
  height: 390px;
  width: 200px;
}

.movie__poster {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 270px;
  width: 100%;
}

.movie__informations {
  display: flex;
  flex-direction: column;
  height: 88px;
  justify-content: space-between;
  padding: 16px;
}

.movie__title {
  color: var(--light);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
}

.movie__data {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  justify-content: space-between;
}

.movie__year {
  background-color: var(--secondary);
  border-radius: 24px;
  color: var(--light);
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
}

.movie__duration {
  align-items: center;
  color: var(--text);
  display: flex;
  gap: 2px;
}

.movie__duration-icon {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
}

@media only screen and (max-width: 768px) {
  .movie {
    display: flex;
    height: 135px;
    justify-content: center;
    width: 100%;
  }

  .movie__poster {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 0;
    height: 100%;
    width: 90px;
  }

  .movie__informations {
    display: flex;
    gap: 10px;
    height: 103px;
    justify-content: center;
    width: 100%;
  }

  .movie__data {
    gap: 10px;
    justify-content: left;
  }
}

@media only screen and (max-width: 480px) {
  .movie__title {
    font-size: 16px;
    font-weight: 700;
  }

  .movie__year,
  .movie__duration {
    font-size: 12px;
  }

  .movie__duration {
    gap: 0;
  }

  .movie__duration-icon {
    transform: scale(0.8);
  }
}
