body {
  background-color: var(--primary);
  margin: 0;
}

.body__modal-opened {
  overflow: hidden;
}

header {
  align-items: center;
  border-bottom-color: var(--tertiary);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 16px;
}

.header__menu {
  color: var(--tertiary);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.header__logo {
  width: 400px;
}

#series,
#movies {
  cursor: pointer;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  max-width: 1160px;
}

.message {
  color: var(--tertiary);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.title {
  color: var(--tertiary);
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

footer {
  margin: 48px;
}

.footer__text {
  color: var(--primary-light);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

.footer__link {
  color: var(--primary-light);
  text-decoration: none;
}

.footer__link:visited {
  color: var(--primary-light);
}

@media only screen and (max-width: 768px) {
  .header__logo {
    width: 350px;
  }

  .header__menu {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    border-bottom-width: 3px;
    justify-content: center;
  }

  .header__menu {
    display: none;
  }

  .title {
    font-size: 24px;
  }

  .cards {
    gap: 24px;
  }

  .footer__text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .header__logo {
    height: 15px;
  }
}
